body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #5a5a5a;
  display: block;
}
.navbar-brand {
  color: #563d7c;
}
p {
  margin: 1rem 0 1rem 0!important;
}
h1,
h2,
h3,
h4 {
  margin: 0 0 .5rem;
  font-weight: bold!important;
  line-height: 1;
  color: #2a2a2a;
  letter-spacing: -0.05em;
}
h1 {
  font-size: 3rem!important;
}
ul li {
  margin-bottom: .25rem;
}
ul :last-child {
  margin-bottom: 0;
}
/*loading*/
/*loading*/
.mask {
  display: none;
  position: absolute;
  top: 0.35rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8000;
  background-color: rgba(0, 0, 0, 0);
}
.loading {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 130px;
  height: 110px;
  margin-left: -65px;
  margin-top: -55px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
@-webkit-keyframes am-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -444px 0;
  }
}
.loading .icon {
  width: 37px;
  height: 37px;
  display: block;
  margin: 18px 0 18px;
  background-image: url(../image/icons/loading_sprite_white.png);
  background-repeat: no-repeat;
  background-size: auto 37px;
  -webkit-animation: am-loading 1s steps(12) infinite;
}
#loading {
  z-index: 9999;
  background: #FFF;
  position: fixed;
  top: 0.35rem;
  left: 0;
  width: 100%;
  height: 100%;
}
#loading .bokeh {
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  font-size: 100px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100px;
  border: 1px solid rgba(150, 150, 150, 0.1);
  list-style: none;
}
#loading .bokeh li {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
#loading .bokeh li:nth-child(1) {
  left: 50%;
  top: 0;
  margin: 0 0 0 -10px;
  background: #00C176;
  -webkit-transform-origin: 50% 250%;
  -ms-transform-origin: 50% 250%;
  transform-origin: 50% 250%;
  -webkit-animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
  animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
}
#loading .bokeh li:nth-child(2) {
  top: 50%;
  right: 0;
  margin: -10px 0 0 0;
  background: #FF003C;
  -webkit-transform-origin: -150% 50%;
  -ms-transform-origin: -150% 50%;
  transform-origin: -150% 50%;
  -webkit-animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
  animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
}
#loading .bokeh li:nth-child(3) {
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -10px;
  background: #FABE28;
  -webkit-transform-origin: 50% -150%;
  -ms-transform-origin: 50% -150%;
  transform-origin: 50% -150%;
  -webkit-animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
  animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
}
#loading .bokeh li:nth-child(4) {
  top: 50%;
  left: 0;
  margin: -10px 0 0 0;
  background: #88C100;
  -webkit-transform-origin: 250% 50%;
  -ms-transform-origin: 250% 50%;
  transform-origin: 250% 50%;
  -webkit-animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
  animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
}
@-webkit-keyframes rota {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rota {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
@keyframes opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
/* index.html */
.text-center {
  text-align: center;
}
.masthead {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  background-color: #2a3440;
}
.masthead h1 {
  color: #fff;
  margin-bottom: .25rem;
}
.masthead .icon {
  display: inline-block;
  font-size: 4rem;
  margin: 0 .5rem;
}
.masthead .lead {
  font-size: 1.5rem!important;
}
.heading {
  padding: 3rem 3rem 2.5rem;
  background-color: #dfe1e8;
}
section {
  border-bottom: 1px solid #dfe1e8;
  display: table;
  width: 100%;
  table-layout: fixed;
}
section .col {
  padding: 3rem 1rem;
  vertical-align: top;
}
section h3 {
  font-size: 1.75rem;
}
.statement {
  padding: 3rem 3rem 2.5rem;
  background-color: #dfe1e8;
}
.statement h2 {
  text-align: center;
}
.statement-text {
  padding: 3rem 1rem;
  vertical-align: top;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
.prettyprint,
pre.prettyprint {
  background-color: #444444;
  border: 1px solid #272822;
  overflow: hidden;
  padding: 0px;
  margin: 20px 0;
  font: 14px/20px 'courier new';
  color: #666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.prettyprint ol,
pre.prettyprint ol {
  list-style: decimal;
  margin-left: 42px;
  padding: 8px;
}
.prettyprint .linenums,
pre.prettyprint .linenums {
  margin-bottom: 0;
  background-color: #272822!important;
}
.prettyprint .pln,
pre.prettyprint .pln {
  color: #66D9EF;
}
.prettyprint .tag,
pre.prettyprint .tag {
  color: #F92659;
}
.prettyprint .atn,
pre.prettyprint .atn {
  color: #A6E22E;
}
.prettyprint .pun,
pre.prettyprint .pun {
  color: #F8F8F2;
}
.prettyprint .atv,
pre.prettyprint .atv {
  color: #E6DB74;
}
.prettyprint .kwd,
pre.prettyprint .kwd {
  color: #F92659;
}
.prettyprint .lit,
pre.prettyprint .lit {
  color: #AE81FF;
}
.prettyprint .com,
pre.prettyprint .com {
  color: #93a1a1;
}
.prettyprint .str,
pre.prettyprint .str {
  color: #E6DB74;
}
